################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/RimNauts/RimNauts/RimNauts.csproj.user
